body {
    --splash-color: #ff7f50;
    // --off-white-color: rgb(194, 188, 188);
    --off-white-color: black;
    font-family: fantasy;
    color:var(--off-white-color);
    background-color: white;
    #bio {
      color: black;
      border-radius: 30px;
      border-style: double;
      width: 85%;
      text-align: center;
    }
    #intro {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      // padding: 6vw;
      width: 75%;
      .word {
        display: flex;
        flex-direction:row;
        margin: 25px;
      }
      .crypto{
        width: 20px;
        // margin: 15px;
        .cryptoLetter {
          transition: opacity 1s;
        }
        .cryptoReveal {
          height:25px;
          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 100%;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
          }
        }
        .solved {
          opacity: 0.25;
        }
        #startUp {
          width:auto;
          height:10px;
        }

      }
    }
    .pic {
      width: 30vw;
      bottom: 0;
      right: 0;
      position:fixed;
    }
    .card {
        margin: 30px;
        width: 20vw;
        position: relative;
        border-radius: 2px;
        line-height: 20px;
        .card-reveal{
            background-color: var(--off-white-color);
            color: white;
        }
        .card-content p a {
          margin: 5px;
        }
    }
    .collapsible{
      background-color: var(--off-white-color);
      color: black;
      td i {
        font-size: x-small;
      }
      #experience li, #projects li {
        list-style: circle;
      }
    }
    .collapsible-header{
      background-color: var(--splash-color) ;
      color: black;
    }
    .colorBar {
      color: var(--splash-color);
    }
    .contained {
      margin-top: 20vh;
      margin-left: 6vw;
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
    }


    .degType {
      width: 30%;
    }

    label {
      display: block;
    }


    #navigator{
      position:fixed;

      #name {
        // font-size: 5vw;
        height:15vh;
        color:black;
        position:fixed;
        top:0;
        left:0;
      }
      ul{
        // display: flex;
        // flex-direction:row;
        // justify-content: center;
        width: 15vw;
      color: var(--splash-color) ;
      }
    }
    .row .col {
      padding: 0.75rem;
    }
    .side-nav{
      background-color: black;
      li>a{
        color: var(--splash-color);
      }
    }
    ul a{
      color:var(--off-white-color);
    }
}

.tinyImg {
  width: 30px;
}
#carousel {
  height: 30vh;
  display: flex;
  justify-content: center;
}
#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}
footer {
  position: fixed;
  bottom:0;
  left:30vw;;
  ul {
  display:flex;
  flex-direction:row;
    li {
      margin:10px;
    }

  }

  div {
    background-color: var(--splash-color);
    height: 30px;
  }
}
