body {
    --off-white-color: black;
    font-family: fantasy;
    color:var(--off-white-color);
    background-color: white;
    #bio {
      color: black;
      border-radius: 30px;
      border-style: double;
      width: 85%;
      text-align: center;
      margin-left: 7%;

    }
    #intro {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 85%;
      .word {
        display: flex;
        flex-direction:row;
        margin: 20px;
      }
      .crypto{
        width: 2.5vw;
        margin: 2px;
        .cryptoLetter {
          transition: opacity 1s;
        }
        .cryptoReveal {
          height:25px;
          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #9e9e9e;
            border-radius: 0;
            outline: none;
            height: 100%;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
          }
        }
        .solved {
          opacity: 0.25;
        }
        #startUp {
          width:auto;
          height:10px;
        }

      }
    }
    .pic {
      width: 30vw;
      bottom: 0;
      right: 0;
      position:fixed;
    }
    .card {
        margin: 30px;
        width: 20vw;
        position: relative;
        border-radius: 2px;
        line-height: 20px;
        .card-reveal{
            background-color: var(--off-white-color);
            color: white;
        }
        .card-content p a {
          margin: 5px;
        }
    }
    .collapsible{
      background-color: black;
      color: white;
      width: 80%;
      margin-left: 10%;

      td i {
        font-size: x-small;
      }
    }
    #top, .collapsible-header{
      background-color: white ;
      color: black;
    }
    .contained {
      margin-top: 15vh;
      // margin-left: 2vw;
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;

    }
    .degType {
      width: 30%;
    }
    label {
      display: block;
    }
    #navigator{
      position:fixed;

      #name {
        width: 45vw;
        color:black;
        position:fixed;
        top:0;
        left:0;
        background-color: white;
      }
    }
    .row .col {
      padding: 0.75rem;
    }
    ul a{
      color:var(--off-white-color);
    }
}
#proj {
  margin-left: 10%;
}
.tinyImg {
  width: 30px;
  margin: 2px;
}
#carousel {
  height: 30vh;
  display: flex;
  justify-content: center;
}
#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1.5s;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}
footer {
  position: fixed;
  bottom:0;
  li {
    margin:10px;
  }
  #footerRow {
    display:flex;
    flex-direction:row;
    padding-left:30vw;;
  }
  #footerCol{
    font-size: 2vw;
    left: 0;
  }
  .side-nav {
    width: 32vw;
    li>a {
      padding: 2px;;
    }
  }
}
#sidenav-overlay{
  left: 32vw;
}
