body {
  font-family: sans-serif;
  // background-color: rgb(145,1,1)
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }
  .card {
    background-color: black;
    color: white;
    .card-reveal{
        background-color: rgb(58, 57, 57);
    }
  }

}

.clip-circle {
  clip-path: circle( 150px at center);
  width: 300px;
}

.tinyImg {
  width: 30px;
}
