.project-row {
  display: flex;
  /* overflow-x: scroll; */
  flex-wrap: wrap;
}

.card {
  margin: 0 10px 10px;
  height: 300px;
  display: inline-block;
  width: 400px;
  overflow: hidden;
}

.card-title {
  display: inline-block;
  font-size: var(--sub-header-text);
}

.card-expand-icon {
  float: right;
}
.card-date, .card-tech {
  font-size: var(--detail-text);
}
.cardImg {
  height: 160px;
}
.card-details {
  width: 50%;
  text-align: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.card-header {
  border-bottom: 1px solid orange;
}

.card-info {
  width: 100%;
  padding-top: 10px;
  height: 200px;
}

.card-info.details {
  border: 1px solid orange;
  border-top: none;
  font-size: var(--sub-body-text);
  padding: 10px;
  box-sizing: border-box;
}
.card-header.details {
  border: 1px solid orange;
  border-bottom: none;
}

.material-icons {
  background-color: transparent;
  border-style: none;
}
.main-card-info {
  height: 160px;
  font-size: var(--body-text);
}
.main-card-info > * {
  width: 50%;
}

button {
  color: white;
  background-color: black;
}


.carousel {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.carousel-image {
  display: block;
  opacity: 1;
  transition: opacity 1.5s;
  max-height: 100%;
  margin: auto;
  max-width: 100%;
  width: auto;

}

.mobile-image {
  object-fit: contain;
  -webkit-transition: size 2s; /* Safari */
  transition: all 5s ease-in-out;
  width: 30% !important;
}
.mobile-image:hover {
  transform: scale(1.5);
}

.carousel-image.hidden {
  display: none;
}

iframe {
  width: 100%;
}

.proj-section-info {
  margin: 0 0 20px;
}

.proj-section-title {
  font-size: var(--header-text);
  text-align: center;
  position: relative;
}

.proj-section-title:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

.project-section-sub-title{
  font-size: var(--body-text)
}
