
.project-row {
  display: flex;
  /* overflow-x: scroll; */
  flex-wrap: wrap;
}

.card {
  margin: 0 10px;
  height: 300px;
  display: inline-block;
  width: 400px;
}

.cardImg {
  width: 50%;
  display: inline-block;

}
.card-details {
  width: 50%;
  display: inline-block;


}

.material-icons {
  background-color: transparent;
  border-style: none;
}

.reveal {
  position: absolute;
  background-color: black;
  color: white;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

button {
  color: white;
  background-color: black;
}
.reveal-data {
  padding: 20px;
  line-height: 1.25;
}

.show-reveal {
  display: block;
  transform: translateY(-100%);
}

.carousel {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.carousel-image {
  display: block;
  opacity: 1;
  transition: opacity 1.5s;
  width: 100%;
}

.mobile-image {
  object-fit: contain;
  -webkit-transition: size 2s; /* Safari */
  transition: all 5s ease-in-out;
  width: 30% !important;
}
.mobile-image:hover {
  transform: scale(1.5);
}

.carousel-image.hidden {
  display: none;
}

iframe {
  width: 100%;
}
