#me{
  display: flex;
}

#bio {
  text-align: left;
  padding: 100px 20px 0;
}

.bio-sub-header {
  font-size: var(--sub-header-text);
}

.bio-body {
  font-size: var(--body-text);
}

#bio-container {
}


.about-pic {
  max-height: 100vh;
}
