.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: .5rem 0 1rem 2rem;
  background-color: #fff;
  width: 20rem;
  position: relative;
  border-radius: 2px;
  line-height: 20px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  .card-title {
    font-size: x-large;
  }
  .card-content {
    padding: 24px;
  }
  .carousel {
    display: flex;
    justify-content: center;
    height: 10rem;
    .carousel-image {
      display:block;
      opacity: 1;
      transition: opacity 1.5s;
      max-width: 100%;
    }
    .carousel-image.hidden {
      display:none;
    }
  }
  .card-face {
    padding: 1rem;
    p a {
      margin: 5px;
      text-decoration: none;
      color: blue;
    }
    .material-icons{
      background-color: white;
      border-style: none;
    }
  }
  .reveal {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    button {
      color: white;
      background-color: black;
    }
    .reveal-data{
      padding: 20px;
      line-height: 1.25;
    }
  }
  .show-reveal{
    display: block;
    transform: translateY(-100%);
  }
}

