#main-name {
    font-size: 10vh;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    line-height: .5;
    margin-bottom: 3vh;
    .spotlight{
        color: var(--highlight-color);
        font-size: 5vmin;
    }
   
}

#pic-box{
        height: 40vh;
        width: 81.5vw;
        display: flex;
        flex-direction: row;
        margin-left: 7vw;
        padding: 0;
        overflow: hidden;
    img {
        width: 20vw;
        margin: 0 .5vw;
        transition: transform 3s;
    }
    #p1{
        transform: translateX(-30vw);
    }
    #p2{
        transform: translateY(40vh);
    }
    #p4{
        transform: translateX(30vw);
    }
    #p3{
        transform: translateY(-40vh);
    }
}
#pic-box.show {

    #p1{
        transform: translateX(0);
    }
    #p2{
        transform: translateY(0);
    }
    #p4{
        transform: translateX(0);
    }
    #p3{
        transform: translateY(0);
    }
    
}

svg {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
