#main-name {
    font-size: 10vh;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
   
}

#pic-box{
    img {
        height: 40vh;
        width: 80vw;
        margin-left: 10vw;
    }
}

svg {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
