nav {
  z-index: 10;
  #side-nav{
    background-color: white;
  }
  .navWide {
    position: fixed;
    bottom:1vh;
    font-size: 25px;
    display: none;
    margin-left: 25vw;
    margin-bottom: 0;
      #footerRow{
        div {
          margin-right: 2vw;
          text-decoration: none;
          color: black;
        }
      }
  }
  .navNarrow {
    top:0;
    font-size: 14px;
    #slide-space {
      display: none;
      flex-direction: row;
      width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content:center;
      #slide-out{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      #overlay{
        background-color: black;
        opacity: .5;
        height: 100%;
        width: 70vw;
        display: none;
      }
    }
    i {
      font-size: 40px;
      float: left;
      cursor: context-menu;
    }
    #narrowLinks {
      display: none;
      li {
        text-decoration: none;
        display: block;
        float: left;
        clear: left;
        padding: 0.5em 0;
      }
    }
  }
}
#menu{
  width: 10vh;
  transform: rotate(10deg);
  height: 15vh;
 
}
// @media (min-width: 1000px) {
// 	nav {
// 		.navWide {
// 			display: block;
// 		}
// 		.navNarrow {
// 			display: none;
// 		}
//   }
// }
