nav {
  z-index: 10;
  position: fixed;
  width:100vw;

  .navWide {
    bottom:1vh;
    font-size: 25px;
    display: none;
    margin-left: 25vw;
    margin-bottom: 0;
      #footerRow{
        div {
          margin-right: 2vw;
          text-decoration: none;
          color: black;
        }
      }
  }
  .navNarrow {
    top:0;
    font-size: 20px;
    
    i {
      font-size: 40px;
      float: left;
      cursor: context-menu;
    }
    #narrowLinks {
      display: none;
      li {
        text-decoration: none;
        display: block;
        float: left;
        clear: left;
        padding: 0.5em 0;
      }
    }
  }
}
#slide-space {
      display: none;
      width: 100vw;
      height: 100vh;
      position: absolute;
      height: 110vh;
      background-color: white;
        background: radial-gradient(white, black);

      top: -1vh;
      align-items: center;
      justify-content:center;
      #slide-out{
        list-style: none;
        margin: 0;
        padding: 0;
      }

}
#menu{
  width: 10vmin;
  transform: rotate(10deg);
  height: 10vmin;
  float: right;
  margin-right: 5vw;
    margin-top: 2vw;
}

#name {
        color:  #182999;
        max-width: 100%;
        font-family: 'Kaushan Script', cursive;
        font-size: 10vmin;
        display: none;
      }