.tic{
	width: 30vh;
	position:fixed;
	background-color:white;
}
.row {
	display:flex;
}
.piece{
	width: 10vh;
	height: 10vh;
	border-color:black;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	font-size:90%;
}
.after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}
.piece:hover .after{
	display: block;
	color: black;
	background-image: url("/client/components/images/o.png");

}
.top, .middle{
  border-bottom-style: solid;
}
.left{
	border-right-style:solid;
}
.right{
	border-left-style:solid;
}