@import "./messageStyle.css";

a {
  color: black;
}

#main-name {
  font-size: var(--title-text);
  font-family: "Abril Fatface", cursive;
  text-align: center;
  line-height: 0.5;
  margin-bottom: 3vh;
}

.main-title {
  font-size: var(--sub-title-text);
  color: var(--highlight-color);
}

.next-section {
  font-size: var(--body-text);
  text-decoration: none;
}

#pic-box {
  height: 35vh;
  width: 81.5%;
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  padding: 0;
  overflow: hidden;
}

#pic-box > img {
  width: 20%;
  margin: 0 auto;
  transition: transform 3s;
}
#p1 {
  transform: translateX(-30vw);
}
#p2 {
  transform: translateY(40vh);
}
#p4 {
  transform: translateX(30vw);
}
#p3 {
  transform: translateY(-40vh);
}

#pic-box.show > #p1 {
  transform: translateX(0);
}
#pic-box.show > #p2 {
  transform: translateY(0);
}
#pic-box.show > #p4 {
  transform: translateX(0);
}
#pic-box.show > #p3 {
  transform: translateY(0);
}

svg {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
