.slideIn-titles {
  z-index: 1;
}
.slideIn-title {
  height: 50%;
  width: 100%;
  overflow-wrap: break-word;
}
.displaySpace {
  min-height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
}
.slideIn-content {
  width: 100%;
  height: 100%;
  position: absolute;
  border-spacing: 20px;
}

.showHide{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;

  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

.showHide:not(.visible) {
  transition: transform 2s ease;
  transform: translate(-100%);
}
.showHide.visible {
  transition: transform 2s ease;
  transform: translate(0%);
}

.sub-group-list {
  height: 100%;
  width: 100%;
}

.slideIn-subGroup-title {
  height: 25%;
  text-align: center;
  flex-grow: 1;
  font-size: var(--sub-header);
  border-bottom: 2px solid var(--highlight-color);
  margin: 10px;
  padding: 0 0 10px;
}

.rotate-text {
  transform: rotate(270deg) translateX(-50%);
}
