body {
  --highlight-color: #182999;
  --teal-color: #0e9d99;
  --gold-color: #cdb594;
  color: black;
  font-size: 20px;
  box-sizing: border-box;
}

p {
  margin: 10px 0;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
}

ul a {
  color: var(--highlight-color);
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.flex-it {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#resume-section {
  font-size: x-small;
  overflow-wrap: break-word;
  margin-top: 40px;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.material-icons {
  cursor: pointer;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 98%;
  overflow: hidden;
  min-height: 80vh;
  font-family: "Source Sans Pro", sans-serif;
}

section:not(.sub-section) {
  min-height: 100vh;
}

section:not(#brief-intro):not(#about-section) {
  padding-top: 100px;
}
