body {
  --primary-color: #182999;
  --secondary-color: #0e9d99;
  --tertiary-color: #cdb594;
  --title-text: 4rem;
  --sub-title-text: 2rem;
  --header-text: 1.75rem;
  --sub-header-text: 1.5rem;
  --body-text: 1.25rem;
  --sub-body-text: 1rem;
  --main-detail-text: 0.8rem;
  --detail-text: 0.75rem;
  color: black;
  font-size: 62.5%;
  box-sizing: border-box;
}

p {
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
}

ul a {
  color: var(--primary-color);
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

section {
  box-sizing: border-box;
  position: relative;
  width: 98%;
  overflow: hidden;
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

section:not(#brief-intro):not(#about-section) {
  padding-top: 100px;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.flex-it {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.material-icons {
  cursor: pointer;
  vertical-align: middle;
}
